<div class="row todos">
    <div class="span8 offset2">
        <form class="form">
            <div class="control-group">
                <label class="control-label">TODO text:</label>

                <div class="controls">
                    <input class="input-xlarge" ng-model="todo"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="add btn" ng-click="add()">add -></button>
                </div>
            </div>
        </form>
        <table class="table" ng-hide="todos.length == 0">
            <thead>
            <tr>
                <th width="80%">text</th>
                <th width="20%">done</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="todo in todos" class="todo">
                <td class="text">{{todo.text}}</td>
                <td><input type="checkbox" ng-model="todo.done"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>