<div class="row todos">
    <div class="span6">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">TODO text</label>
                <div class="controls">
                    <input class="input-xlarge" ng-model="todo.text"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="add btn">add -></button>
                </div>
            </div>
        </form>
    </div>
    <div class="span6">
        <div ng-repeat="todo in todos.all">{{todo.text}}</div>
    </div>
</div>